* {
  font-family: "Roboto";
}

.Title {
  font-size: 28px;
}

.subTitle {
  font-size: 19px;
  font-weight: 300;
}

.main-container {
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

section {
  padding: 35px 20px;
}

.darkgreyicon {
  color: rgb(53, 53, 53);
}

.greyicon {
  color: rgb(126, 126, 126);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 36px;
  margin: 15px;
}

.navbar {
  width: 100%;
  background-color: #EAEAEA;
  padding: 10px 0;
  text-align: center;
  box-shadow: inset 0 2px 10px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.navbar .bar-recherche {
  font-weight: 500;
  font-size: 17px;
  border: none;
  background-color: #EAEAEA;
  margin: 0 -50px 0 10px;
  outline: none;
}

.Exp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
}
.Exp .button {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  border: none;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 0 18px;
  margin: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.Exp .button:hover {
  filter: brightness(1.1);
  transition: 500ms;
}

.button .Fonctionnement-btn {
  display: flex;
  margin: 20px;
  padding: 10px 0;
}
.button .Fonctionnement-btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: -13px;
  width: 24px;
  height: 24px;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  background-color: #9356DC;
  border: none;
}

.borderfct {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
  border-radius: 25px;
  gap: 18px;
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: rgb(246, 246, 246);
  border: none;
  padding: 10px 0;
}
.borderfct p {
  font-weight: 500;
}

.borderfct span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 24px;
  height: 24px;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  background-color: #9356DC;
  margin-left: -12px;
  border: none;
  color: white;
}

.Fonctionnement-btn:hover i {
  color: #9356DC;
}

.iconnum {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 24px;
  height: 24px;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
}

.restaurants {
  background-color: rgba(0, 0, 0, 0.05);
}

#resto .card {
  display: block;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
  position: relative;
}
#resto .card h3 {
  margin-bottom: -10px;
}

#resto .card img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  position: relative;
}

.card-content {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-content .card-heart {
  align-content: center;
  font-size: 30px;
}

.badge-nouveau {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #99E2D0;
  color: #008766;
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
}

.heart-btn {
  background: none;
  border: none;
  padding: 0;
  position: relative;
  font-size: inherit;
}

.heart-full {
  position: absolute;
  top: 2.5px;
  left: 0;
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-heart:active .heart-full {
  opacity: 1;
}

footer {
  background-color: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
}
footer .shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-size: 23px;
  font-weight: 900;
  font-style: italic;
  color: white;
  padding: 15px 40px;
  margin: 0;
}

footer ul {
  list-style: none;
  margin: 0;
}
footer ul a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 27px;
  color: white;
}